.navbar {
    background-color: #FF724C !important;
}

.btn-cust1 {
    background-color: #FF724C !important;
    border: #FF724C;
}

.btn {
    background-color: #FF724C !important;
}

.wid-ful {
    left: 0;
    width: max-width;
    margin-right: auto;
    margin-left: auto;
}

.text-white {
    color: aliceblue;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: rgb(20, 45, 100);
    color: white;
  }